@import url("./GAPI-ColorTheme.css");
@import url("./footer.css");

body {
  width: 100vw;
  height: 100vh;
  background: var(--default-white-color);
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
}
.formInput {
  border-color: var(--default-strip-bg);
}

.primary-btn {
  width: 100%;
  text-align: center;
  background-color: var(--default-theme-color);
  color: #fff;
  border-radius: 20px;
  border: 1px solid var(--default-theme-color);
  font-weight: 700;
  transition: background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.primary-btn:hover {
  background: #fff;
}
.form-control:focus,
.formInput:focus {
  border-color: var(--default-strip-bg);
  box-shadow: none;
}

.d-none {
  display: none;
}
.navGap {
  margin-top: 2.8rem;
}

.mTop-5 {
  margin-top: 5rem;
}
