@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("./GAPI-ColorTheme.css");

.userNavbar {
  width: 100%;
  background: var(--default-strip-bg) !important;
  color: var(--default-white-color);
  position: fixed;
  z-index: 100;
  padding: 10px;
  top: 0;
}
.userNavbarFlex {
  display: flex;
  justify-content: space-between;
}
.userNavList {
  list-style: none;
  display: flex;
  align-items: center;
}
.userNavList li {
  cursor: pointer;
}
