body {
  height: 95vh;
}
.mainContent {
  z-index: 1000;
}
.searchFlightForm {
  width: 320px;
}
.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  user-select: none;
}

.tab-slider--tabs:after {
  content: "";
  width: 50%;
  background: var(--default-strip-bg);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}
.tab-slider--tabsslide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: var(--default-strip-bg);
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;
}
.tab-slider--body {
  margin-bottom: 20px;
}

.tab-slider--triggeractive {
  color: #fff;
}
.searchFlightContainer {
  background: rgba(255, 255, 255, 0.668);
  border-radius: 10px;
  box-shadow: 2px 2px 20px 5px rgba(44, 44, 44, 0.356);
}

.launchModalBtn {
  height: 100px;
  background-color: #fff;
  color: #000;
  border-color: #fff;
  text-align: left;
}
.launchModalBtn p {
  color: var(--subtitle-color);
}
.launchModalBtn .title {
  text-decoration: underline;
}

/* Modal Body */
.sittingClass .title,
.travellerSelect {
  font-weight: 700;
}

.travellerSelect ul {
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  flex-wrap: wrap;
}

.travellerSelect ul li {
  list-style: none;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  text-align: center;
  border: 1px solid var(--default-strip-bg);
}
.btn-outline-primary {
  color: var(--default-strip-bg);
  border-color: var(--default-strip-bg);
}

.btn-check:checked + .btn-outline-primary,
.btn-outline-primary:hover {
  background-color: var(--default-strip-bg);
  border-color: var(--default-strip-bg);
}
.selected {
  background-color: var(--default-strip-bg);
  border-color: var(--default-strip-bg);
  color: #fff;
}
